#$Id: filter.config,v 1.1.1.1 2006/11/08 15:17:34 releng Exp $
# filter.config
#
# The purpose of this file is to specify which http and ftp
#  objects can be obtained through Websense Content Gateway and which
#  headers should be forwarded for http requests
#
# Each line consists of a set of tag value pairs.  The pairs
#   are in the format  <tag>=<value>
# 
# Each line must include exactly one primary specifier
#
#   Primary destination specifiers are
#     dest_domain=
#     dest_host=
#     dest_ip=
#     url_regex=
#
#
# Lines may include any number of the secondary specifiers but
#    secondary specifiers may not be duplicated on the same line
#
#   Secondary specifiers are
#     port=
#     scheme=
#     prefix=
#     suffix=
#     method=
#     time=
#     src_ip=
#
# Each Lines must include a exactly one action
#   Actions are 
#     action=allow
#     action=deny
#
#     keep_hdr=<hdr Name>
#     strip_hdr=<hdr Name>
#
# Note: in the case of conflicting directives, the directive
#	that appears first applies
#
# Example:
#
##  Next line will allow all users (except ones trying to access internal.foo.com)
##  to access domain foo.com 
# 
# dest_domain=foo.com	action=allow
# 
##  Next line will deny access to playboy.com
# 
# dest_domain=playboy.com action=deny
# 
# Block traffic to port 25 to prevent SMTP through the proxy/cache
# The following allow ssbc traffic to ThreatScope
dest_domain="." port=25 action=deny
dest_domain="websense.net" user_agent="ssbc/" action=allow
dest_domain="blackspider.com" user_agent="ssbc/" action=allow
